
#random-number-generator__max {
    min-width: 60.77px;
    width: 60.77px;
}

#random-number-generator__min {
    min-width: 60.77px;
    width: 60.77px;
}

.random-number-generator__container {
    min-width: 80%;
}
