
* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    background-color: $off-black;
}

//common tags
.center-items {
    text-align: center;
}

.center-flex {
    display: flex;
    justify-content: center;
}