//spacings
$s-size: 1rem;
$m-size: 1.5rem;
$l-size: 3rem;
$xl-size: 4.5rem;

//colors
$off-black: #0b0d0f;
$dark-grey: #4e5257;
$yellow: #f9a407;
$light-brown: #b98514;
$brown: #a26e06;
$off-white: #dadadb;
$grey: #7d7f82;