.container {
    display: inline-block;
}

.page {
    margin-left: 200px;
    overflow: visible;
}

.widget {
    background-color: $dark-grey;
    border-radius: 25px;
    padding: $s-size;
    min-width: 40%;
    margin: $l-size;
}

